<!DOCTYPE html>
<html lang="en">
<head>
<title>View Task</title>
<link rel="stylesheet" type="text/css" href="/assets/styles/task.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <%- include ('partials/header.ejs'); %>

    <div id="viewDiv">

   
    <h2>Tasks</h2>

    <form class="example" method="POST" action="/search" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search by Name.." name="name">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      
    <div style="overflow-x:auto;">
      <table>
          <tr>
              <th> Name </th>
              <th> Type </th>
              <th> Date </th>
              <th> Details </th>
              
          </tr>
          <% taskList.forEach(function(task){ %>
            <tr>
                <td> <%=task.name %></td>
                <td><%=task.type %></td>
                <td><%=task.date %></td>
                <td><%=task.details %></td>
            </tr>
            <% }); %> 
      </table>
    </div>
</div>
    

<%- include ('partials/footer.ejs'); -%>
  
</body>
</html>
